.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Login-Box{
    position: absolute;
    top: 30%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: aqua;
}

.Password-No-Match{
    color: red;
    background-color: #282c34;
}

.User-Event{

}